.context-container.hidden#sound(style=`position:absolute; left:0; top:0; width: ${blockSize}px; height: ${blockSize}px;`)
  img(oncontextmenu='return false;')

script(type='text/javascript').
  class Sound {
    id
    segmentid
    x
    y
    index = null
    state = false

    constructor(id, segmentid, x, y, index, state)
    {
      this.id = id
      this.segmentid = segmentid
      this.x = x
      this.y = y
      this.index = index
      this.state = state
      elements[this.id] = this

      const jelement = $('#sound').clone()
        .attr('id', 'element' + this.id)
        .css('left', this.x * blockSize)
        .css('top', this.y * blockSize)
        .css('cursor', 'pointer')
        .css('z-index', 1)
        .removeClass('hidden')
        .appendTo("#bg")

      this.displaySoundState(this.state)

      jelement.on('click', () => {
        doAction(this.segmentid, `sound/play/${this.index + 1}`)
      })
    }

    element() { return $(`#element${this.id}`) }

    displaySoundState(state)
    {
      this.element()
        .find('img')
        .attr('src', state === undefined ? `/glyph/accessories/sound` : `/glyph/accessories/sound/${state ? '1': '0'}`)
    }

    processEvent(segmentid, panelid, event, eventdata)
    {
      if (segmentid !== this.segmentid) return
      if (panelid !== 'sound') return 

      if (eventdata && eventdata.length == 1)
      {
        this.state = (eventdata[0].playedFolder == this.index + 1);
        this.displaySoundState(this.state)
      }
    }
  }
